# Copyright Louis Dionne 2016
# Distributed under the Boost Software License, Version 1.0.
# (See accompanying file LICENSE.md or copy at http://boost.org/LICENSE_1_0.txt)

language: cpp
os: linux
sudo: false

# Do not build branches of the form "pr/*". By prefixing pull requests coming
# from branches inside the repository with pr/, this avoids building both the
# branch push _and_ the pull request.
branches:
  except: /pr\/.*/

addons:
  apt:
    packages:
      - ninja-build
      - clang-3.6
      - clang-3.7
      - clang-3.8
      - g++-4.8
      - g++-4.9

    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-precise-3.6
      - llvm-toolchain-precise-3.7
      - llvm-toolchain-precise-3.8
      - llvm-toolchain-precise

env:
  global:
    # GitHub token for pushing the benchmarks. The token is stored in the
    # ${GITHUB_TOKEN} environment variable.
    - secure: "TY3VQ9eOoYxiBvP6kR+WyE0pgJ5vmxgXhCqjhGPWiieKn3H8hUhhbacSnmODXJQ89jbcIgLxUSPSWq3ZAJNDPem0nyEfoBklnJFq7IrZ1sXZ3ywBcHHEq/09+LTsjElg+9NU6HRMmzuT1WCG76/KmQHL7THSjQoPKHLAbHLuTzWeMVzC1qB0JC/SsfFXmuB0ZCNIQsu6P9ADLUpUgjm1mEXiUIDIXtfFPUvhC7UCC+kw5OR4rmwWM0adzFJglA2gom73fxkX9O/qPtZh6nroV7Vu6cUsbTjmW7YlV+0Us5YWgulC7dJqAO8GrHbfk35n3unMs2ScJ4nzWVEFCwCFiMOWb8VWIPRSQXDjuxkc1Cuf8A2M6FnFqZqhXE2JlsUfVAgI7zrG5LytYJkJxxphV4Hbkf0gTJ8VdA6dHV69AX8BIcszhCPo2PdMRvA+3iAL8FIMopVtDDcra8glO8JsFsR6C5ptdXMpDZ2/KMvoZta8Rpk38YEsiwf9mI7vBDV5okWM071U1jbVDGc8FIDfC14xIwFy7WFOWtZA4KYQTS5PxqEyPxtIRNNdWfCiNcNmm4eozw/kSmcYzMQxheWTx2Wv9V7EdKcx1r7mmv/MXzGnKLRW4j5I7VbG3pMXWr2KA5+qQdnYRjK/xa0j1aOD1OWwE4Fzt4ETkVGzZ8dvFm8="

  matrix:
    - COMPILER=clang++-3.6 CMAKE_GENERATOR="Ninja"
    - COMPILER=clang++-3.6 CMAKE_GENERATOR="Unix Makefiles"
    - COMPILER=clang++-3.7 CMAKE_GENERATOR="Ninja"
    - COMPILER=clang++-3.7 CMAKE_GENERATOR="Unix Makefiles"
    - COMPILER=clang++-3.8 CMAKE_GENERATOR="Ninja"
    - COMPILER=clang++-3.8 CMAKE_GENERATOR="Unix Makefiles"
    - COMPILER=g++-4.8     CMAKE_GENERATOR="Ninja"
    - COMPILER=g++-4.8     CMAKE_GENERATOR="Unix Makefiles"
    - COMPILER=g++-4.9     CMAKE_GENERATOR="Ninja"
    - COMPILER=g++-4.9     CMAKE_GENERATOR="Unix Makefiles"

before_install:
  # IMPORTANT: Keep this step empty, as it is overwritten by the script that
  #            triggers the nightly build.

install:
  - export CXX=${COMPILER} # Override CXX set by Travis

  # All the dependencies are installed in ${TRAVIS_BUILD_DIR}/deps/
  - DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
  - mkdir ${DEPS_DIR} && cd ${DEPS_DIR}

  # Install a recent CMake
  - CMAKE_URL="http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz"
  - mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
  - export PATH=${DEPS_DIR}/cmake/bin:${PATH}

  # Install libc++ and libc++abi
  - |
    if [[ "${CXX}" == "clang++-3.6" || "${CXX}" == "clang++-3.7" || "${CXX}" == "clang++-3.8" ]]; then
      if   [[ "${CXX}" == "clang++-3.6" ]]; then LLVM_VERSION="3.6.2";
      elif [[ "${CXX}" == "clang++-3.7" ]]; then LLVM_VERSION="3.7.1";
      elif [[ "${CXX}" == "clang++-3.8" ]]; then LLVM_VERSION="3.8.0"; fi

      LLVM_URL="http://llvm.org/releases/${LLVM_VERSION}/llvm-${LLVM_VERSION}.src.tar.xz"
      LIBCXX_URL="http://llvm.org/releases/${LLVM_VERSION}/libcxx-${LLVM_VERSION}.src.tar.xz"
      LIBCXXABI_URL="http://llvm.org/releases/${LLVM_VERSION}/libcxxabi-${LLVM_VERSION}.src.tar.xz"

      mkdir -p llvm llvm/build llvm/projects/libcxx llvm/projects/libcxxabi
      travis_retry wget --quiet -O - ${LLVM_URL} | tar --strip-components=1 -xJ -C llvm
      travis_retry wget --quiet -O - ${LIBCXX_URL} | tar --strip-components=1 -xJ -C llvm/projects/libcxx
      travis_retry wget --quiet -O - ${LIBCXXABI_URL} | tar --strip-components=1 -xJ -C llvm/projects/libcxxabi
      (cd llvm/build && cmake .. -DCMAKE_INSTALL_PREFIX=${DEPS_DIR}/llvm/install)
      (cd llvm/build/projects/libcxx && make install -j2)
      (cd llvm/build/projects/libcxxabi && make install -j2)

      export CXXFLAGS="-isystem ${DEPS_DIR}/llvm/install/include/c++/v1"
      export LDFLAGS="-L ${DEPS_DIR}/llvm/install/lib -l c++ -l c++abi"
      export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${DEPS_DIR}/llvm/install/lib"
    fi

  # Install Boost headers
  - BOOST_URL="http://github.com/boostorg/boost.git"
  - travis_retry git clone --depth 1 --recursive --quiet ${BOOST_URL}
  - (cd boost && ./bootstrap.sh && ./b2 headers)

  # Install and use a more recent Ruby
  - rvm use 2.1 --install --binary --fuzzy

before_script:
  # Set the git identity (for pushing the benchmarks)
  - git config --global user.name "Travis bot"

  - cd ${TRAVIS_BUILD_DIR}
  - (mkdir build && cd build && cmake .. -DBOOST_ROOT=${DEPS_DIR}/boost)

script:
  - cmake --build build
  - (cd build && ctest --output-on-failure)

  # During nightly builds, we generate the benchmarks and update the gh-pages
  # branch with the data. `METABENCH_NIGHTLY_BUILD` is set by the script that
  # triggers the nightly build.
  - |
    if [[ "${METABENCH_NIGHTLY_BUILD}" == "true" && "${CMAKE_GENERATOR}" == "Unix Makefiles" ]]; then
      cmake --build build --target benchmarks

      # Suppress output to avoid leaking the token when the command fails
      git clone https://ldionne:${GITHUB_TOKEN}@github.com/ldionne/metabench --depth 1 --branch=gh-pages tmp &>/dev/null
      for collection in hetero type; do
        rm -rf tmp/_${collection}/${COMPILER}
        rsync -am --include '*/' --include '*.html' --exclude '*' build/benchmark/${collection}/ tmp/_${collection}/${COMPILER}

        # Add a YAML front matter to every chart (for Jekyll).
        for chart in tmp/_${collection}/${COMPILER}/*/*.html; do
          sed -i -e "1i---" -e "1itimestamp: $(date '+%a, %-d %b %Y')" -e "1icompiler: ${COMPILER}" -e "1i---" ${chart}
        done
      done

      pushd tmp
      git add --all .
      git commit -m "Update benchmarks for compiler '${COMPILER}'"
      # Suppress output to avoid leaking the token
      travis_retry git push origin gh-pages &>/dev/null
      popd
    fi
